ul.accordion-list {
    padding: 0;
}

ul.accordion-list li {
    list-style-type: none;
}

ul.accordion-list li span.text1.bold {
    font-weight: bold;
}

.accordion-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    background-color: var(--primay-color);
    margin-bottom: 16px;
    border: 1px solid #C2C8D0;
    box-sizing: border-box;
    border-radius: 4px;
}

.accordion-title {
    padding: 0 12px;
    width: calc(100% - 48px);
}

.accordion-content {
    max-height: 0;
    height: auto;
    overflow: hidden;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    transition-property: max-height;
    background-color: var(--secondary-color);
    top: -16px;
}

.accordion-content-position {
    padding: 16px 12px;
    width: calc(100% - 24px);
}

.accordion-content span{
    margin-top: 0;
}

.animaAccordion {
    max-height: 320px;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    transition-property: max-height;
}

.selectorAccordion{
    width: 48px;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    -ms-transition: -ms-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;  
}

.selectorAccordion.muestraInfo{
    transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
}

@media screen and (min-width: 992px) {
    .questions-titles {
        flex: 0 0 100px; /*grow, shrink, basis*/
    }
}